basePath: /api
definitions:
  controller.ErrorResponse:
    properties:
      error:
        type: string
      message:
        type: string
    type: object
  model.Estado:
    properties:
      ganhadores:
        type: integer
      nome:
        type: string
      uf:
        type: string
    type: object
  model.MunicipioUFGanhadores:
    properties:
      ganhadores:
        type: integer
      municipio:
        type: string
      numeroBilhete:
        type: string
      posicao:
        type: integer
      serie:
        type: string
      uf:
        type: string
    type: object
  model.Premiacao:
    properties:
      descricao:
        type: string
      faixa:
        type: integer
      numeroDeGanhadores:
        type: integer
      valor:
        type: number
    type: object
  model.Resultado:
    properties:
      acumulou:
        type: boolean
      concurso:
        type: integer
      data:
        type: string
      dataProximoConcurso:
        type: string
      dezenas:
        items:
          type: string
        type: array
      dezenasOrdemSorteio:
        items:
          type: string
        type: array
      estadosPremiados:
        items:
          $ref: '#/definitions/model.Estado'
        type: array
      local:
        type: string
      loteria:
        type: string
      mesSorte:
        type: string
      municipiosUFGanhadores:
        items:
          $ref: '#/definitions/model.MunicipioUFGanhadores'
        type: array
      observacao:
        type: string
      premiacoes:
        items:
          $ref: '#/definitions/model.Premiacao'
        type: array
      proximoConcurso:
        type: integer
      timeCoracao:
        type: string
      trevos:
        items:
          type: string
        type: array
      valorAcumuladoConcurso_0_5:
        type: number
      valorAcumuladoConcursoEspecial:
        type: number
      valorAcumuladoProximoConcurso:
        type: number
      valorArrecadado:
        type: number
      valorEstimadoProximoConcurso:
        type: number
    type: object
host: api-loterias.moleniuk.com
info:
  contact:
    email: marcos@moleniuk.comm
    name: Marcos  Oleniuk
    url: https://wa.me/445598425745
  description: API para consulta de resultados de loterias da Caixa Econômica Federal
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Loterias API Golang
  version: "1.0"
paths:
  /:
    get:
      description: Retorna informações básicas sobre a API de Loterias
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
      summary: Informações da API
      tags:
      - Root
  /{loteria}:
    get:
      description: Retorna todos os resultados já realizados da loteria especificada
      parameters:
      - description: ID da Loteria
        enum:
        - maismilionaria
        - megasena
        - lotofacil
        - quina
        - lotomania
        - timemania
        - duplasena
        - federal
        - diadesorte
        - supersete
        in: path
        name: loteria
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Resultado'
            type: array
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/controller.ErrorResponse'
      summary: Busca resultados por loteria
      tags:
      - Loterias
  /{loteria}/{concurso}:
    get:
      description: Retorna o resultado da loteria e concurso especificado
      parameters:
      - description: ID da Loteria
        enum:
        - maismilionaria
        - megasena
        - lotofacil
        - quina
        - lotomania
        - timemania
        - duplasena
        - federal
        - diadesorte
        - supersete
        in: path
        name: loteria
        required: true
        type: string
      - description: Número do Concurso
        in: path
        name: concurso
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Resultado'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/controller.ErrorResponse'
      summary: Busca resultado por loteria e concurso
      tags:
      - Loterias
  /{loteria}/latest:
    get:
      description: Retorna o resultado mais recente da loteria especificada
      parameters:
      - description: ID da Loteria
        enum:
        - maismilionaria
        - megasena
        - lotofacil
        - quina
        - lotomania
        - timemania
        - duplasena
        - federal
        - diadesorte
        - supersete
        in: path
        name: loteria
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Resultado'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/controller.ErrorResponse'
      summary: Busca resultado mais recente
      tags:
      - Loterias
schemes:
- https
- http
swagger: "2.0"
